<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem #

## In this notebook, Data Science Tools and Ecosystem are summarized. ##

## Some of the popular languages that Data Scientists use are: ''
## Ordered list
1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
## ordered list
- NumPy
- Pandas
- Scikit-learn
- Seaborn

| Data Science Tools  |
| ------------------- |
| Jupyter Notebook    |
| RStudio             |
| VS Code             |

### Below are a few examples of evaluating arithmetic expressions in Python. ###

In [20]:
# Example 1: Addition
result_addition = 5 + 3
result_addition

8

In [16]:
# Example 2: Subtraction
result_subtraction = 10 - 4
result_subtraction

6

In [17]:
# Example 3: Multiplication
result_multiplication = 6 * 2
result_multiplication

12

In [18]:
result_multiplication

12

## Exercise 8 - Create a code cell to multiply and add numbers ##

## This a simple arithmetic expression to mutiply then add integers ##

In [19]:
(3*4)+5

17

## Exercise 9 - Create a code cell to convert minutes to hours ##

## This will convert 200 minutes to hours by diving by 60 ##

In [13]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Exercise 10 - Insert a markdown cell to list Objectives ##

**Objectives:**
- List popular languages for Data Science.
- Common libraries used in Data Science.
- Introduction to  R and GitHub
- Common tools of Data Science

## Exercise 11 - Create a markdown cell to indicate the Author's name ##

## Author

Md Delwar Hossain Bhuyan